@font-face {
    font-family: HelveticaNeueLTStd;
    src: url("../../../assets/fonts/HelveticaNeueLTStd\ Lt.otf");
}

.theme-blue {
    background-color: #034EA2;
    border: 5px solid #fab218;
    border-style: double;
    box-shadow: 7px 8px 6px 0px #0000002e;
}
.auth-wrapper {
    font-family: HelveticaNeueLTStd !important;
}
span.input-group-text {
    background-color: #B3B4B4;
    border: #B3B4B4;
}
.btn-yellow {
    background-color: #FAB218;
}
.text-yellow {
    color: #FAB218;
}
.auth-wrapper {
    background-color: #B3B4B4;
}
.text-black {
    color: #000;;
}
.login-bg {
    background: url('../../../assets/images/login-bg.jpg');
    background-size: cover;
}
.btn-box button {
    margin: 0 5px;
}