<div class="row">
  <div class="col text-left">
      <h3>List of Users</h3>
  </div>
  <div class="col text-right">
      <button type="button" class="btn btn-primary" ngbTooltip="btn-primary"> Add User </button>
  </div>
</div>
<div class="row">
&nbsp;
</div>
<div class="row">
  <div class="col-sm-12">
    <app-card cardClass="card-datatable" [hidHeader]="true" [options]="false">
      <div class="table">
        <table datatable [dtOptions]="dtRouterLinkOptions" class="table table-striped table-bordered table-hover"></table>
      </div>
    </app-card>
  </div>
</div>
