<div class="row">
  <div class="col-sm-12">
    <h4>{{title}}</h4>
    <app-card [hidHeader]="true" [options]="false">
      <form [formGroup]="addUserForm" (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="exampleInputEmail1">First Name</label>
              <input type="text" class="form-control" aria-describedby="emailHelp" tabindex="1" placeholder="First Name"
                formControlName="firstName" required [(ngModel)]="userdata.firstName" appOnlyalphabets [onlyAlpha]="true"
                (keypress)="avoidSpecialchar($event)" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
              <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                <div *ngIf="f.firstName.errors.required">First Name is required</div>
              </div>
            </div>
            <div class="form-group">
              <label>Company Name</label>
              <input type="text" class="form-control" required placeholder="Company Name" formControlName="company"
                [(ngModel)]="userdata.company" tabindex="3" (keypress)="avoidSpecialchar($event)"
                [ngClass]="{ 'is-invalid': submitted && f.company.errors }" />
              <div *ngIf="submitted && f.company.errors" class="invalid-feedback">
                <div *ngIf="f.company.errors.required">Company Name is required</div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="exampleInputPassword1">Last Name</label>
              <input type="text" class="form-control" placeholder="Last Name" tabindex="2" formControlName="lastName"
                [(ngModel)]="userdata.lastName" required (keypress)="avoidSpecialchar($event)" appOnlyalphabets [onlyAlpha]="true"
                [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
              <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                <div *ngIf="f.lastName.errors.required">Last Name is required</div>
              </div>
            </div>
            <div class="form-group">
              <label>Email</label>
              <input type="email" class="form-control" placeholder="Email" required formControlName="email"
                [(ngModel)]="userdata.email" tabindex="4" [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
                required />
              <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                <div *ngIf="f.email.errors.required">Email is required</div>
                <div *ngIf="f.email.errors.pattern">Email must be a valid email address</div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">              
              <label>Password
              </label>            
            <!-- <div class="hover"><i class="fa fa-info-circle" aria-hidden="true" style="color:grey !important;"></i>
              <div class="tooltip">
                <p>Password Policy:<br />
                Characters must be 8<br />
                First and last character should be alphabet<br />
                Atleast one special character<br />
              </div>
            </div>          -->
              <input type="password" class="form-control" placeholder="Password" formControlName="password" tabindex="4"
                [(ngModel)]="userdata.password"  [ngClass]="{ 'is-invalid': submitted && f.password.errors }" required/>
              <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                <div *ngIf="f.password.errors.required">Password is required</div>
                <div *ngIf="userdata.password.length<8">Password must be 8 characters</div>

                <!-- <div *ngIf="f.email.errors.email">Email must be a valid email address</div> -->

              </div>
            </div>
            <div class="form-group">
              <label for="exampleFormControlSelect1">User Type</label>
              <select class="form-control" formControlName="type" [(ngModel)]="userdata.type" required tabindex="6"
                (change)='onTypeSelect($event)' [ngClass]="{ 'is-invalid': submitted && f.type.errors }" required>
                <option value="" >Choose User Type</option>
                <option value="Admin">Admin</option>
                <option value="OPS">OPS</option>
                <option value="IMD">IMD</option>
                <option value="Branch">Branch</option>
                <option value="Vendor">Vendor</option>
                <option value="Claims">Claims</option>
              </select>
              <div *ngIf="submitted && f.type.errors" class="invalid-feedback">
                <div *ngIf="f.type.errors.required">User Type is required</div>
              </div>
            </div>
            
          </div>

          <div class="col-md-6">
            <div class="form-group">
              <label>Confirm Password</label>
              <input type="password" class="form-control" formControlName="confPassword" placeholder="Confirm Password"
                [(ngModel)]="userdata.confPassword" tabindex="5" required
                [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
              <div *ngIf="submitted && f.confPassword.errors" class="invalid-feedback">
                <div *ngIf="f.confPassword.errors.required">Confirm Password is required</div>
              </div>
            </div>
            
            <div class="form-group" *ngIf="showBranch">
              <label for="exampleFormControlSelect1">Branches </label>
              <ng-multiselect-dropdown [placeholder]="'Choose Branches'" required [settings]="dropdownSettings" 
                [data]="branches" tabindex="7" [(ngModel)]="selectedItems" formControlName="branches"
                (onSelect)="onItemSelect($event)" (onSelectAll)="onSelectAll($event)"
                [ngClass]="{ 'is-invalid': submitted && f.branches.errors }">
              </ng-multiselect-dropdown>
              <div *ngIf="submitted && f.branches.errors" class="invalid-feedback">
                <div *ngIf="f.branches.errors.required">Branches required</div>
              </div>
            </div>
          </div>

          <div class="col-md-6" >
            <div class="form-group" *ngIf="showBranch">
              <label for="exampleFormControlSelect1">Branch Name</label>
              <select class="form-control" formControlName="branchName" [(ngModel)]="userdata.branchName" tabindex="8"
                (change)='onBranchSelect()' [ngClass]="{ 'is-invalid': submitted && f.branchName.errors }" placeholder="Select Branch Name">
                <option value="" >Choose Branch Name</option>
                <option class="form-control" *ngFor="let item of branches" [value]="item.branchName">
                  <table>
                    <tr>
                      <td> {{item.branchName}}</td>
                    </tr>
                  </table>
                </option>
              </select>
              <div *ngIf="submitted && f.branchName.errors" class="invalid-feedback">
                <div *ngIf="f.branchName.errors.required">Branch Name is required</div>
              </div>
            </div>
            <div class="form-group"*ngIf="userdata.id!=undefined" >
              <label for="exampleFormControlSelect1">Status</label>
              <select class="form-control" formControlName="status" [(ngModel)]="userdata.status" required tabindex="10"
                (change)='onStatusSelect($event)' [ngClass]="{ 'is-invalid': submitted && f.status.errors }" required>
                <option value="">Choose Status</option>
                <option value="false">Active</option>
                <option value="true"> In Active</option>
              </select>
              <div *ngIf="submitted && f.status.errors" class="invalid-feedback">
                <div *ngIf="f.status.errors.required">Status is required</div>
              </div>
            </div>
           
            
          </div>
          <div class="col-md-6" *ngIf="showBranch">

            <div class="form-group" *ngIf="showBranch">
              <label for="exampleFormControlSelect1">Branch Code</label>
              <!-- <input type="text" class="form-control" aria-describedby="emailHelp" tabindex="9"
                placeholder="Branch Code" formControlName="branchCode" required [(ngModel)]="userdata.branchCode"
                readonly [ngClass]="{ 'is-invalid': submitted && f.branchCode.errors }" /> -->
                <select class="form-control" formControlName="branchCode" [(ngModel)]="userdata.branchCode" tabindex="9"
                (change)='onBranchCodeSelect()' [ngClass]="{ 'is-invalid': submitted && f.branchCode.errors }" placeholder="Choose Branch Code">
                <option value="" >Choose Branch Code</option>
                <option class="form-control" *ngFor="let item of branches" [value]="item.branchCode">
                  <table>
                    <tr>
                      <td> {{item.branchCode}}</td>
                    </tr>
                  </table>
                </option>
              </select>
              <div *ngIf="submitted && f.branchCode.errors" class="invalid-feedback">
                <div *ngIf="f.branchCode.errors.required">Branch Code is required</div>
              </div>
            </div>
           
          </div>

        </div>
        <div class="row text-right">
          <div class="col-12">
            <button type="button" class="btn btn-primary mr-1" (click)="reset()">Cancel</button>
            <button type="submit" class="btn btn-primary" *ngIf="userdata.id==undefined">Add
              User</button>
            <!-- [disabled]="addForm.form.status=='INVALID'" -->
            <button type="button" class="btn btn-primary" *ngIf="userdata.id!=undefined"
              (click)="updateUser(userdata)">Update</button>
          </div>
        </div>
      </form>
    </app-card>
  </div>
</div>