<ul class="navbar-nav ml-auto">
  <li>
    <div class="dropdown drp-user" ngbDropdown placement="auto">
      <a href="javascript:" ngbDropdownToggle data-toggle="dropdown">
        <i class="icon feather icon-user"></i>
      </a>
      <div class="dropdown-menu dropdown-menu-right profile-notification" ngbDropdownMenu>
        <ul class="pro-body">
          <li><a href="javascript:" class="dropdown-item" (click)="changePassword()"><i class="feather icon-user"></i> Change Password</a></li>
          <li><a href="javascript:" class="dropdown-item" (click)="logOutUser()"><i class="feather icon-log-out"></i> Log Out</a></li>
        </ul>
      </div>
    </div>
  </li>
</ul>
