<div class="row">
  <!-- live line section start -->
  <div class="col-sm-12">
    <owl-carousel-o [options]="customOptions">
      <ng-template carouselSlide>
        <app-card [hidHeader]="true" cardClass="bg-dark rounded-0 shadow-none" blockClass="d-flex justify-content-between align-items-center">
          <span class="text-white d-flex justify-content-center align-items-center"><i class="fab fa-ethereum text-c-red f-22 m-r-5"></i>Ethereum(ETH)</span>
          <h6 class="badge badge-light-danger float-right d-inline-block m-0">+1.5278</h6>
        </app-card>
      </ng-template>
      <ng-template carouselSlide>
        <app-card [hidHeader]="true" cardClass="bg-dark rounded-0 shadow-none" blockClass="d-flex justify-content-between align-items-center">
          <span class="text-white d-flex justify-content-center align-items-center"><i class="fab fa-bitcoin text-c-yellow f-22 m-r-5"></i>Bitcoin(BTC)</span>
          <h6 class="badge badge-light-warning float-right d-inline-block m-0">-0.997896</h6>
        </app-card>
      </ng-template>
      <ng-template carouselSlide>
        <app-card [hidHeader]="true" cardClass="bg-dark rounded-0 shadow-none" blockClass="d-flex justify-content-between align-items-center">
          <span class="text-white d-flex justify-content-center align-items-center"><i class="fab fa-cloudsmith text-c-blue f-22 m-r-5"></i>Ripple(RPL)</span>
          <h6 class="badge badge-light-primary float-rightd-inline-block m-0">-7.66789</h6>
        </app-card>
      </ng-template>
      <ng-template carouselSlide>
        <app-card [hidHeader]="true" cardClass="bg-dark rounded-0 shadow-none" blockClass="d-flex justify-content-between align-items-center">
          <span class="text-white d-flex justify-content-center align-items-center"><i class="fab fa-asymmetrik text-c-yellow f-22 m-r-5"></i>Neo(NEO)</span>
          <h6 class="badge badge-light-warning float-right d-inline-block m-0">+5.78789</h6>
        </app-card>
      </ng-template>
      <ng-template carouselSlide>
        <app-card [hidHeader]="true" cardClass="bg-dark rounded-0 shadow-none" blockClass="d-flex justify-content-between align-items-center">
          <span class="text-white d-flex justify-content-center align-items-center"><i class="fab fa-ethereum text-c-red f-22 m-r-5"></i>Ethereum(ETH)</span>
          <h6 class="badge badge-light-danger float-right d-inline-block m-0">-7.6648</h6>
        </app-card>
      </ng-template>
      <ng-template carouselSlide>
        <app-card [hidHeader]="true" cardClass="bg-dark rounded-0 shadow-none" blockClass="d-flex justify-content-between align-items-center">
          <span class="text-white d-flex justify-content-center align-items-center"><i class="fab fa-bitcoin text-c-yellow f-22 m-r-5"></i>Bitcoin(BTC)</span>
          <h6 class="badge badge-light-warning float-right d-inline-block m-0">+5.1024</h6>
        </app-card>
      </ng-template>
      <ng-template carouselSlide>
        <app-card [hidHeader]="true" cardClass="bg-dark rounded-0 shadow-none" blockClass="d-flex justify-content-between align-items-center">
          <span class="text-white d-flex justify-content-center align-items-center"><i class="fab fa-cloudsmith text-c-blue f-22 m-r-5"></i>Ripple(RPL)</span>
          <h6 class="badge badge-light-primary float-right d-inline-block m-0">+4.5896</h6>
        </app-card>
      </ng-template>
      <ng-template carouselSlide>
        <app-card [hidHeader]="true" cardClass="bg-dark rounded-0 shadow-none" blockClass="d-flex justify-content-between align-items-center">
          <span class="text-white d-flex justify-content-center align-items-center"><i class="fab fa-asymmetrik text-c-yellow f-22 m-r-5"></i>Neo(NEO)</span>
          <h6 class="badge badge-light-warning float-right d-inline-block m-0">+1.4563</h6>
        </app-card>
      </ng-template>
    </owl-carousel-o>
  </div>
  <!-- live line section end -->

  <!-- table card start -->
  <div class="col-md-12 col-xl-4">
    <app-card [hidHeader]="true" cardClass="flat-card" blockClass="p-0">
      <div class="row-table">
        <div class="col-sm-6 card-body br">
          <div class="row">
            <div class="col-sm-4">
              <i class="icon feather icon-eye text-c-green mb-1 d-block"></i>
            </div>
            <div class="col-sm-8 text-md-center">
              <h5>10k</h5>
              <span>Visitors</span>
            </div>
          </div>
        </div>
        <div class="col-sm-6 card-body">
          <div class="row">
            <div class="col-sm-4">
              <i class="icon feather icon-music text-c-red mb-1 d-block"></i>
            </div>
            <div class="col-sm-8 text-md-center">
              <h5>100%</h5>
              <span>Volume</span>
            </div>
          </div>
        </div>
      </div>
      <div class="row-table">
        <div class="col-sm-6 card-body br">
          <div class="row">
            <div class="col-sm-4">
              <i class="icon feather icon-file-text text-c-blue mb-1 d-block"></i>
            </div>
            <div class="col-sm-8 text-md-center">
              <h5>2000 +</h5>
              <span>Files</span>
            </div>
          </div>
        </div>
        <div class="col-sm-6 card-body">
          <div class="row">
            <div class="col-sm-4">
              <i class="icon feather icon-mail text-c-yellow mb-1 d-block"></i>
            </div>
            <div class="col-sm-8 text-md-center">
              <h5>120</h5>
              <span>Mails</span>
            </div>
          </div>
        </div>
      </div>
    </app-card>
  </div>
  <div class="col-md-12 col-xl-4">
    <app-card [hidHeader]="true" cardClass="flat-card" blockClass="p-0">
      <div class="row-table">
        <div class="col-sm-6 card-body br">
          <div class="row">
            <div class="col-sm-4">
              <i class="icon feather icon-share-2 text-c-purple mb-1 d-block"></i>
            </div>
            <div class="col-sm-8 text-md-center">
              <h5>1000</h5>
              <span>Shares</span>
            </div>
          </div>
        </div>
        <div class="col-sm-6 card-body">
          <div class="row">
            <div class="col-sm-4">
              <i class="icon feather icon-wifi text-c-purple mb-1 d-block"></i>
            </div>
            <div class="col-sm-8 text-md-center">
              <h5>600</h5>
              <span>Network</span>
            </div>
          </div>
        </div>
      </div>
      <div class="row-table">
        <div class="col-sm-6 card-body br">
          <div class="row">
            <div class="col-sm-4">
              <i class="icon feather icon-rotate-ccw text-c-purple mb-1 d-block"></i>
            </div>
            <div class="col-sm-8 text-md-center">
              <h5>3550</h5>
              <span>Returns</span>
            </div>
          </div>
        </div>
        <div class="col-sm-6 card-body">
          <div class="row">
            <div class="col-sm-4">
              <i class="icon feather icon-shopping-cart text-c-purple mb-1 d-blockz"></i>
            </div>
            <div class="col-sm-8 text-md-center">
              <h5>100%</h5>
              <span>Order</span>
            </div>
          </div>
        </div>
      </div>
    </app-card>
  </div>
  <div class="col-md-12 col-xl-4">
    <app-card [hidHeader]="true" blockClass="p-0" cardClass="flat-card widget-primary-card">
      <div class="row-table">
        <div class="col-sm-3 card-body">
          <i class="feather icon-star-on"></i>
        </div>
        <div class="col-sm-9">
          <h4>4000 +</h4>
          <h6>Ratings Received</h6>
        </div>
      </div>
    </app-card>
    <app-card [hidHeader]="true" blockClass="p-0" cardClass="flat-card widget-purple-card">
      <div class="row-table">
        <div class="col-sm-3 card-body">
          <i class="fas fa-trophy"></i>
        </div>
        <div class="col-sm-9">
          <h4>17</h4>
          <h6>Achievements</h6>
        </div>
      </div>
    </app-card>
  </div>
  <!-- table card end -->

  <!-- live line section start -->
  <div class="col-sm-12">
    <div class="row no-gutters">
      <div class="col-md-4 col-xl-2">
        <app-card [hidHeader]="true">
          <span>REALTY</span>
          <h6 class="float-right text-c-red d-inline-block m-0">-0.99</h6>
        </app-card>
      </div>
      <div class="col-md-4 col-xl-2">
        <app-card [hidHeader]="true">
          <span>TELCOM</span>
          <h6 class="float-right text-c-green d-inline-block m-0">+1.52</h6>
        </app-card>
      </div>
      <div class="col-md-4 col-xl-2">
        <app-card [hidHeader]="true">
          <span>CPSE</span>
          <h6 class="float-right text-c-green d-inline-block m-0">+5.78</h6>
        </app-card>
      </div>
      <div class="col-md-4 col-xl-2">
        <app-card [hidHeader]="true">
          <span>INFRA</span>
          <h6 class="float-right text-c-red d-inline-block m-0">-7.66</h6>
        </app-card>
      </div>
      <div class="col-md-4 col-xl-2">
        <app-card [hidHeader]="true">
          <span>TECK</span>
          <h6 class="float-right text-c-green d-inline-block m-0">+4.56</h6>
        </app-card>
      </div>
      <div class="col-md-4 col-xl-2">
        <app-card [hidHeader]="true">
          <span>BASMTR</span>
          <h6 class="float-right text-c-green d-inline-block m-0">+0.78</h6>
        </app-card>
      </div>
    </div>
  </div>
  <!-- live line section end -->

  <!-- live line section start -->
  <div class="col-sm-12 stastic-slider-full-card">
    <div class="row no-gutters">
      <div class="col-md-6 col-xl-3">
        <app-card [hidHeader]="true" cardClass="rounded-0" blockClass="d-flex justify-content-between align-items-center">
          <span class="d-flex justify-content-center align-items-center"><i class="fab fa-bitcoin text-c-yellow f-22 m-r-5"></i>Bitcoin(BTC)</span>
          <h6 class="badge badge-light-warning float-right d-inline-block m-0">-0.997896</h6>
        </app-card>
      </div>
      <div class="col-md-6 col-xl-3">
        <app-card [hidHeader]="true" cardClass="rounded-0" blockClass="d-flex justify-content-between align-items-center">
          <span class="d-flex justify-content-center align-items-center"><i class="fab fa-ethereum text-c-red f-22 m-r-5"></i>Ethereum(ETH)</span>
          <h6 class="badge badge-light-danger float-right d-inline-block m-0">+1.1456</h6>
        </app-card>
      </div>
      <div class="col-md-6 col-xl-3">
        <app-card [hidHeader]="true" cardClass="rounded-0" blockClass="d-flex justify-content-between align-items-center">
          <span class="d-flex justify-content-center align-items-center"><i class="fab fa-asymmetrik text-c-yellow f-22 m-r-5"></i>Neo(NEO)</span>
          <h6 class="badge badge-light-warning  float-right d-inline-block m-0">+5.78787</h6>
        </app-card>
      </div>
      <div class="col-md-6 col-xl-3">
        <app-card [hidHeader]="true" cardClass="rounded-0" blockClass="d-flex justify-content-between align-items-center">
          <span class="d-flex justify-content-center align-items-center"><i class="fab fa-cloudsmith text-c-green f-22 m-r-5"></i>Ripple(RPL)</span>
          <h6 class="badge badge-light-success float-rightd-inline-block m-0">-7.99999</h6>
        </app-card>
      </div>
    </div>
  </div>
  <!-- live line section end -->

  <!-- live view start -->
  <div class="col-xl-4 col-md-6">
    <app-card [hidHeader]="true">
      <div class="row">
        <div class="col-auto">
          <h6>Devices</h6>
        </div>
        <div class="col text-right">
          <h2 class="mb-0">1042</h2>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col">
          <h3 class="m-0"><i class="fas fa-circle text-success f-10 m-r-5"></i>66%</h3>
          <span class="ml-3">Desktop</span>
        </div>
        <div class="col">
          <h3 class="m-0"><i class="fas fa-circle text-primary f-10 m-r-5"></i>26%</h3>
          <span class="ml-3">Tablet</span>
        </div>
        <div class="col">
          <h3 class="m-0"><i class="fas fa-circle text-danger f-10 m-r-5"></i>8%</h3>
          <span class="ml-3">Mobile</span>
        </div>
      </div>
      <div class="progressbar-stack mt-4">
        <div *ngFor="let bar of deviceProgressBar" [ngStyle]="{width: bar.value + '%'}" class="float-left">
          <ngb-progressbar [type]="bar.type" height="8px" [value]="100"></ngb-progressbar>
        </div>
      </div>
    </app-card>
    <app-card [hidHeader]="true">
      <h6 class="mb-1">New York , NY</h6>
      <span class="d-block mb-2">Monday 2:00 PM</span>
      <div class="row align-items-center justify-content-center">
        <div class="col-auto">
          <h2 class="text-c-purple m-0"><i class="feather icon-cloud-snow text-muted mr-2"></i>23<sup class="f-20">°</sup></h2>
        </div>
        <div class="col text-right">
          <div class="form-group mb-1">
            <label class="m-r-5 f-20 mb-0">°C</label>
            <div class="switch switch-primary d-inline">
              <input type="checkbox" id="switch-a-1" checked="">
              <label for="switch-a-1" class="cr"></label>
            </div>
            <label class="m-l-5 f-20 mb-0">°F</label>
          </div>
          <span class="d-block mt-1">Partly Cloudy</span>
        </div>
      </div>
    </app-card>
  </div>
  <!-- live view end -->

  <!-- active user start -->
  <div class="col-xl-4 col-md-6">
    <app-card [hidHeader]="true">
    <div class="row align-items-start">
      <div class="col">
        <h2 class="mb-0">954</h2>
      </div>
      <div class="col-auto text-right">
        <h6 class="">Location</h6>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-sm-6">
        <span class="d-block"><i class="fas fa-circle text-c-green f-10 m-r-10"></i>India</span>
        <span class="d-block"><i class="fas fa-circle text-c-red f-10 m-r-10"></i>France</span>
        <span class="d-block"><i class="fas fa-circle text-c-blue f-10 m-r-10"></i>Other</span>
      </div>
      <div class="col-sm-6">
        <span class="d-block"><i class="fas fa-circle text-c-yellow f-10 m-r-10"></i>United states</span>
        <span class="d-block"><i class="fas fa-circle text-c-purple f-10 m-r-10"></i>United Kingdom</span>
      </div>
    </div>

    <div class="progress mt-3" style="height:20px;">
      <div class="progress-bar badge-light-success rounded" role="progressbar" style="width: 30%;" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">24%</div>
      <div class="progress-bar badge-light-danger rounded" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">12%</div>
      <div class="progress-bar badge-light-primary rounded" role="progressbar" style="width: 20%;" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">10%</div>
      <div class="progress-bar badge-light-warning rounded" role="progressbar" style="width: 15%;" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100">8%</div>
      <div class="progress-bar badge-light-info rounded" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">35%</div>
    </div>
  </app-card>
    <app-card cardTitle="Overdue tasks" [options]="false">
      <div class="row">
        <div class="col">
          <h2 class="m-0"><i class="feather icon-arrow-up text-c-green"></i>4</h2>
        </div>
        <div class="col text-right">
          <h5 class="text-c-green m-0">15%</h5>
          <span class="d-block">Last Month:6</span>
        </div>
      </div>
    </app-card>
  </div>
  <!-- active user end -->

  <!-- revenue-section start -->
  <div class="col-xl-4 col-md-12">
    <app-card [hidHeader]="true">
      <div class="row">
        <div class="col-auto">
          <span>Revenue</span>
        </div>
        <div class="col text-right">
          <div class="btn-group" ngbDropdown placement="auto">
            <button class="btn waves-effect waves-light btn-sm btn-outline-secondary dropdown-toggle" ngbDropdownToggle type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">This Year</button>
            <div class="dropdown-menu" ngbDropdownMenu>
              <a class="dropdown-item" href="javascript:">1 Week</a>
              <a class="dropdown-item" href="javascript:">2 Month</a>
              <a class="dropdown-item" href="javascript:">4 Year</a>
            </div>
          </div>
        </div>
      </div>
      <div class="mt-4">
        <ngb-progressbar type="primary" [showValue]="true" height="10px" [value]="60"></ngb-progressbar>
      </div>
      <div class="row">
        <div class="col-auto">
          <span class="text-uppercase mt-2 d-block">Earning</span>
          <h5 class="mb-0">$6.455</h5>
        </div>
        <div class="col text-right">
          <span class="text-uppercase mt-2 d-block">Expense</span>
          <h5 class="mb-0">$3.869</h5>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-auto">
          <span class="text-uppercase d-block">budget</span>
        </div>
        <div class="col text-right">
          <span class="text-uppercase d-block">Earning</span>
          <h5 class="mb-0">$5,569 of $1,000</h5>
        </div>
      </div>
      <div class="mt-2">
        <ngb-progressbar type="success" [showValue]="true" height="10px" [value]="40"></ngb-progressbar>
      </div>
    </app-card>
    <app-card [hidHeader]="true" blockClass="p-0">
      <div class="row d-flex align-items-center m-0">
        <div class="col-6 text-center">
          <div style="padding:20px 25px;">
            <h2 class="text-c-purple mb-0">19<sup class="f-20">°</sup></h2>
            <span>Sunny</span>
          </div>
        </div>
        <div class="col-6 text-center bg-primary p-0">
          <div style="padding:20px 25px;">
            <i class="feather icon-sun f-36 text-white"></i>
            <h6 class="mt-2 mb-0 text-white f-w-400">New York , NY</h6>
          </div>
        </div>
      </div>
    </app-card>
  </div>
  <!-- revenue-section end -->

  <!-- timeline section start -->
  <div class="col-sm-12">
    <div class="row no-gutters statstic-data-card">
      <div class="col-md-6 col-xl-3">
        <app-card [hidHeader]="true" cardClass="m-b-0" blockClass="border-bottom p-0">
          <div class="row text-center m-0">
            <div class="col border-right">
              <h6 class="my-3 text-c-red">0.56%</h6>
            </div>
            <div class="col border-right">
              <h6 class="my-3 text-c-red">0.88</h6>
            </div>
            <div class="col">
              <h6 class="my-3 text-muted">160.40</h6>
            </div>
          </div>
        </app-card>
        <app-card [hidHeader]="true" blockClass="level-up text-right">
          <span class="float-left"><i class="feather icon-trending-up text-c-green f-16 mr-2"></i>SPY</span>
          <h3 class="d-inline-block m-0">CPSE</h3>
        </app-card>
      </div>
      <div class="col-md-6 col-xl-3">
        <app-card [hidHeader]="true" cardClass="m-b-0" blockClass="border-bottom p-0">
          <div class="row text-center m-0">
            <div class="col border-right">
              <h6 class="my-3 text-c-green">0.76%</h6>
            </div>
            <div class="col border-right">
              <h6 class="my-3 text-c-green">0.45</h6>
            </div>
            <div class="col">
              <h6 class="my-3 text-muted">110.40</h6>
            </div>
          </div>
        </app-card>
        <app-card [hidHeader]="true" blockClass="level-down text-right">
          <span class="float-left"><i class="feather icon-trending-down text-c-red f-16 mr-2"></i>SPY</span>
          <h3 class="d-inline-block m-0">BANKEX</h3>
        </app-card>
      </div>
      <div class="col-md-6 col-xl-3">
        <app-card [hidHeader]="true" cardClass="m-b-0" blockClass="border-bottom p-0">
          <div class="row text-center m-0">
            <div class="col border-right">
              <h6 class="my-3 text-c-red">1.26%</h6>
            </div>
            <div class="col border-right">
              <h6 class="my-3 text-c-green">1.57</h6>
            </div>
            <div class="col">
              <h6 class="my-3 text-muted">150.65</h6>
            </div>
          </div>
        </app-card>
        <app-card [hidHeader]="true" blockClass="level-down text-right">
          <span class="float-left"><i class="feather icon-trending-down text-c-red f-16 mr-2"></i>SPY</span>
          <h3 class="d-inline-block m-0">UTILS</h3>
        </app-card>
      </div>
      <div class="col-md-6 col-xl-3">
        <app-card [hidHeader]="true" cardClass="m-b-0" blockClass="border-bottom p-0">
          <div class="row text-center m-0">
            <div class="col border-right">
              <h6 class="my-3 text-c-green">0.73%</h6>
            </div>
            <div class="col border-right">
              <h6 class="my-3 text-c-green">0.65</h6>
            </div>
            <div class="col">
              <h6 class="my-3 text-muted">120.34</h6>
            </div>
          </div>
        </app-card>
        <owl-carousel-o [options]="slideOptions">
          <ng-template carouselSlide>
            <app-card [hidHeader]="true" blockClass="text-right">
              <span class="float-left"><i class="feather icon-trending-down text-c-red f-16 mr-2"></i>SPY</span>
              <h3 class="d-inline-block m-0">REALTY</h3>
            </app-card>
          </ng-template>
          <ng-template carouselSlide>
            <app-card [hidHeader]="true" blockClass="text-right">
              <span class="float-left"><i class="feather icon-trending-up text-c-green f-16 mr-2"></i>DIA</span>
              <h3 class="d-inline-block m-0">METAL</h3>
            </app-card>
          </ng-template>
          <ng-template carouselSlide>
            <app-card [hidHeader]="true" blockClass="level-up text-right">
              <span class="float-left"><i class="feather icon-trending-down text-c-green f-16 mr-2"></i>QQQ</span>
              <h3 class="d-inline-block m-0">OILGAS</h3>
            </app-card>
          </ng-template>
          <ng-template carouselSlide>
            <app-card [hidHeader]="true" blockClass="text-right">
              <span class="float-left"><i class="feather icon-trending-down text-c-red f-16 mr-2"></i>IWM</span>
              <h3 class="d-inline-block m-0">CDGS</h3>
            </app-card>
          </ng-template>
        </owl-carousel-o>
      </div>
    </div>
  </div>
  <!-- timeline section end -->

  <!-- social section start -->
  <div class="col-md-6 col-xl-3">
    <app-card [hidHeader]="true" cardClass="social-widget-card" blockClass="bg-facebook">
      <h3 class="text-white m-0">1165 +</h3>
      <span class="m-t-10">Facebook Users</span>
      <i class="fab fa-facebook"></i>
    </app-card>
  </div>
  <div class="col-md-6 col-xl-3">
    <app-card [hidHeader]="true" cardClass="social-widget-card" blockClass="bg-twitter">
      <h3 class="text-white m-0">780 +</h3>
      <span class="m-t-10">Twitter Users</span>
      <i class="fab fa-twitter"></i>
    </app-card>
  </div>
  <div class="col-md-6 col-xl-3">
    <app-card [hidHeader]="true" cardClass="social-widget-card" blockClass="bg-linkedin">
      <h3 class="text-white m-0">998 +</h3>
      <span class="m-t-10">Linked In Users</span>
      <i class="fab fa-linkedin-in"></i>
    </app-card>
  </div>
  <div class="col-md-6 col-xl-3">
    <app-card [hidHeader]="true" cardClass="social-widget-card" blockClass="bg-googleplus">
      <h3 class="text-white m-0">650 +</h3>
      <span class="m-t-10">Google Plus Users</span>
      <i class="fab fa-google-plus-g"></i>
    </app-card>
  </div>
  <!-- social section end -->

  <!-- impression, goal, impact start -->
  <div class="col-xl-4 col-md-12">
    <app-card [hidHeader]="true" cardClass="comp-card">
      <div class="row align-items-center">
        <div class="col">
          <h6 class="m-b-20">Impressions</h6>
          <h3 class="text-c-blue">1,563</h3>
          <p class="m-b-0">May 23 - June 01 (2018)</p>
        </div>
        <div class="col-auto">
          <i class="fas fa-eye badge-light-primary"></i>
        </div>
      </div>
    </app-card>
  </div>
  <div class="col-xl-4 col-md-12">
    <app-card [hidHeader]="true" cardClass="comp-card">
      <div class="row align-items-center">
        <div class="col">
          <h6 class="m-b-20">Goal</h6>
          <h3 class="text-c-green">30,564</h3>
          <p class="m-b-0">May 28 - June 01 (2018)</p>
        </div>
        <div class="col-auto">
          <i class="fas fa-bullseye badge-light-success"></i>
        </div>
      </div>
    </app-card>
  </div>
  <div class="col-xl-4 col-md-12">
    <app-card [hidHeader]="true" cardClass="comp-card">
      <div class="row align-items-center">
        <div class="col">
          <h6 class="m-b-20">Impact</h6>
          <h3 class="text-c-yellow">42.6%</h3>
          <p class="m-b-0">May 30 - June 01 (2018)</p>
        </div>
        <div class="col-auto">
          <i class="fas fa-hand-paper badge-light-warning"></i>
        </div>
      </div>
    </app-card>
  </div>
  <!-- impression, goal, impact end -->

  <!-- product profit start -->
  <div class="col-xl-3 col-md-6">
    <app-card [hidHeader]="true" cardClass="prod-p-card bg-c-red">
      <div class="row align-items-center m-b-25">
        <div class="col">
          <h6 class="m-b-5 text-white">Total Profit</h6>
          <h3 class="m-b-0 text-white">$1,783</h3>
        </div>
        <div class="col-auto">
          <i class="fas fa-money-bill-alt text-white"></i>
        </div>
      </div>
      <p class="m-b-0 text-white"><span class="label label-danger m-r-10">+11%</span>From Previous Month</p>
    </app-card>
  </div>
  <div class="col-xl-3 col-md-6">
    <app-card [hidHeader]="true" cardClass="prod-p-card bg-c-blue">
      <div class="row align-items-center m-b-25">
        <div class="col">
          <h6 class="m-b-5 text-white">Total Orders</h6>
          <h3 class="m-b-0 text-white">15,830</h3>
        </div>
        <div class="col-auto">
          <i class="fas fa-database text-white"></i>
        </div>
      </div>
      <p class="m-b-0 text-white"><span class="label label-primary m-r-10">+12%</span>From Previous Month</p>
    </app-card>
  </div>
  <div class="col-xl-3 col-md-6">
    <app-card [hidHeader]="true" cardClass="prod-p-card bg-c-green">
      <div class="row align-items-center m-b-25">
        <div class="col">
          <h6 class="m-b-5 text-white">Average Price</h6>
          <h3 class="m-b-0 text-white">$6,780</h3>
        </div>
        <div class="col-auto">
          <i class="fas fa-dollar-sign text-white"></i>
        </div>
      </div>
      <p class="m-b-0 text-white"><span class="label label-success m-r-10">+52%</span>From Previous Month</p>
    </app-card>
  </div>
  <div class="col-xl-3 col-md-6">
    <app-card [hidHeader]="true" cardClass="prod-p-card bg-c-yellow">
      <div class="row align-items-center m-b-25">
        <div class="col">
          <h6 class="m-b-5 text-white">Product Sold</h6>
          <h3 class="m-b-0 text-white">6,784</h3>
        </div>
        <div class="col-auto">
          <i class="fas fa-tags text-white"></i>
        </div>
      </div>
      <p class="m-b-0 text-white"><span class="label label-warning m-r-10">+52%</span>From Previous Month</p>
    </app-card>
  </div>
  <!-- product profit end -->

  <!-- client-section start -->
  <div class="col-sm-12">
    <div class="row no-gutters">
      <div class="col-md-4 col-xl-2">
        <app-card [hidHeader]="true" cardClass="m-b-0" blockClass="border-bottom">
          <span class="text-muted">Support Requests</span>
          <h3 class="mt-3 mb-0"><i class="feather icon-arrow-down text-c-red"></i>25<sup class="text-c-red f-14 ml-1">-11%</sup></h3>
        </app-card>
        <app-card [hidHeader]="true">
          <span class="text-muted">Open Ticket</span>
          <h3 class="mt-3 mb-0"><i class="feather icon-arrow-down text-c-red"></i>29<sup class="text-c-red f-14 ml-1">-11%</sup></h3>
        </app-card>
      </div>
      <div class="col-md-4 col-xl-2">
        <app-card [hidHeader]="true" cardClass="m-b-0" blockClass="border-bottom">
          <span class="text-muted">Agent Response</span>
          <h3 class="mt-3 mb-0"><i class="feather icon-arrow-up text-c-green"></i>8<sup class="text-c-green f-14 ml-1">+6%</sup></h3>
        </app-card>
        <app-card [hidHeader]="true">
          <span class="text-muted">Running Ticket</span>
          <h3 class="mt-3 mb-0"><i class="feather icon-arrow-down text-c-red"></i>15<sup class="text-c-red f-14 ml-1">-13%</sup></h3>
        </app-card>
      </div>
      <div class="col-md-4 col-xl-2">
        <app-card [hidHeader]="true" cardClass="m-b-0" blockClass="border-bottom">
          <span class="text-muted">Support Resolved</span>
          <h3 class="mt-3 mb-0"><i class="feather icon-arrow-down text-c-red"></i>1<sup class="text-c-red f-14 ml-1">-11%</sup></h3>
        </app-card>
        <app-card [hidHeader]="true">
          <span class="text-muted">Solved Ticket</span>
          <h3 class="mt-3 mb-0"><i class="feather icon-arrow-up text-c-green"></i>4<sup class="text-c-green f-14 ml-1">+5%</sup></h3>
        </app-card>
      </div>
      <div class="col-md-4 col-xl-2">
        <app-card [hidHeader]="true" cardClass="m-b-0" blockClass="border-bottom">
          <span class="text-muted">Pending Ticket</span>
          <h3 class="mt-3 mb-0"><i class="feather icon-arrow-up text-c-green"></i>1.56<sup class="text-c-green f-14 ml-1">+8%</sup></h3>
        </app-card>
        <app-card [hidHeader]="true">
          <span class="text-muted">Reassign Ticket</span>
          <h3 class="mt-3 mb-0"><i class="feather icon-arrow-down text-c-red"></i>2<sup class="text-c-red f-14 ml-1">-11%</sup></h3>
        </app-card>
      </div>
      <div class="col-md-4 col-xl-2">
        <app-card [hidHeader]="true" cardClass="m-b-0" blockClass="border-bottom">
          <span class="text-muted">Reopen Ticket</span>
          <h3 class="mt-3 mb-0"><i class="feather icon-arrow-up text-c-green"></i>5.7%<sup class="text-c-green f-14 ml-1">+4%</sup></h3>
        </app-card>
        <app-card [hidHeader]="true">
          <span class="text-muted">Close Ticket</span>
          <h3 class="mt-3 mb-0"><i class="feather icon-arrow-up text-c-green"></i>10<sup class="text-c-green f-14 ml-1">+9%</sup></h3>
        </app-card>
      </div>
      <div class="col-md-4 col-xl-2">
        <app-card [hidHeader]="true" cardClass="m-b-0" blockClass="border-bottom">
          <span class="text-muted">Return Ticket</span>
          <h3 class="mt-3 mb-0"><i class="feather icon-arrow-down text-c-red"></i>4<sup class="text-c-red f-14 ml-1">+7%</sup></h3>
        </app-card>
        <app-card [hidHeader]="true">
          <span class="text-muted">Satisfied Clients</span>
          <h3 class="mt-3 mb-0"><i class="feather icon-arrow-down text-c-red"></i>3<sup class="text-c-red f-14 ml-1">+6%</sup></h3>
        </app-card>
      </div>
    </div>
  </div>
  <!-- client-section end -->

  <!-- project statistic start -->
  <div class="col-sm-12">
    <app-card [hidHeader]="true" cardClass="proj-progress-card">
      <div class="row">
        <div class="col-xl-3 col-md-6">
          <h6>Published Project</h6>
          <h5 class="m-b-25">532<span class="text-c-red m-l-10 m-r-10">+1.69%</span></h5>
          <ngb-progressbar type="danger" [value]="25"></ngb-progressbar>
        </div>
        <div class="col-xl-3 col-md-6">
          <h6>Completed Task</h6>
          <h5 class="m-b-25">4,569<span class="text-c-blue m-l-10 m-r-10">-0.5%</span></h5>
          <ngb-progressbar type="primary" [value]="65"></ngb-progressbar>
        </div>
        <div class="col-xl-3 col-md-6">
          <h6>Successfull Task</h6>
          <h5 class="m-b-25">89%<span class="text-c-green m-l-10 m-r-10">+0.99%</span></h5>
          <ngb-progressbar type="success" [value]="85"></ngb-progressbar>
        </div>
        <div class="col-xl-3 col-md-6">
          <h6>Ongoing Project</h6>
          <h5 class="m-b-25">365<span class="text-c-yellow m-l-10 m-r-10">+0.35%</span></h5>
          <ngb-progressbar type="warning" [value]="45"></ngb-progressbar>
        </div>
      </div>
    </app-card>
  </div>
  <!-- project statistic end -->

  <!-- project-ticket start -->
  <div class="col-xl-4 col-md-12">
    <app-card [hidHeader]="true" cardClass="proj-t-card">
      <div class="row align-items-center m-b-30">
        <div class="col-auto">
          <i class="far fa-calendar-check text-c-red f-30"></i>
        </div>
        <div class="col p-l-0">
          <h6 class="m-b-5">Ticket Answered</h6>
          <h6 class="m-b-0 text-c-red">Live Update</h6>
        </div>
      </div>
      <div class="row align-items-center text-center">
        <div class="col">
          <h6 class="m-b-0">327</h6>
        </div>
        <div class="col"><i class="fas fa-exchange-alt text-c-red f-18"></i></div>
        <div class="col">
          <h6 class="m-b-0">10 Days</h6>
        </div>
      </div>
      <h6 class="pt-badge badge-light-danger">53%</h6>
    </app-card>
  </div>
  <div class="col-xl-4 col-md-6">
    <app-card [hidHeader]="true" cardClass="proj-t-card">
      <div class="row align-items-center m-b-30">
        <div class="col-auto">
          <i class="fas fa-paper-plane text-c-green f-30"></i>
        </div>
        <div class="col p-l-0">
          <h6 class="m-b-5">Project Launched</h6>
          <h6 class="m-b-0 text-c-green">Live Update</h6>
        </div>
      </div>
      <div class="row align-items-center text-center">
        <div class="col">
          <h6 class="m-b-0">3 Year</h6>
        </div>
        <div class="col"><i class="fas fa-exchange-alt text-c-green f-18"></i></div>
        <div class="col">
          <h6 class="m-b-0">623</h6>
        </div>
      </div>
      <h6 class="pt-badge badge-light-success">76%</h6>
    </app-card>
  </div>
  <div class="col-xl-4 col-md-6">
    <app-card [hidHeader]="true" cardClass="proj-t-card">
      <div class="row align-items-center m-b-30">
        <div class="col-auto">
          <i class="fas fa-lightbulb text-c-yellow f-30"></i>
        </div>
        <div class="col p-l-0">
          <h6 class="m-b-5">Unique Innovation</h6>
          <h6 class="m-b-0 text-c-yellow">Live Update</h6>
        </div>
      </div>
      <div class="row align-items-center text-center">
        <div class="col">
          <h6 class="m-b-0">1 Month</h6>
        </div>
        <div class="col"><i class="fas fa-exchange-alt text-c-yellow f-18"></i></div>
        <div class="col">
          <h6 class="m-b-0">248</h6>
        </div>
      </div>
      <h6 class="pt-badge badge-light-warning">73%</h6>
    </app-card>
  </div>
  <!-- project-ticket end -->

  <!-- ticket, project, client start -->
  <div class="col-xl-3 col-md-6">
    <app-card [hidHeader]="true" cardClass="ticket-card">
      <p class="m-b-25 badge-light-danger lbl-card"><i class="fas fa-folder-open m-r-5"></i> Open Tickets</p>
      <div class="text-center">
        <h2 class="m-b-0 d-inline-block text-c-red">128</h2>
        <p class="m-b-0 d-inline-block">Tickets</p>
        <p class="m-b-0 m-t-10"><i class="fas fa-caret-down m-r-10 f-18 text-c-red"></i>From Previous Month</p>
      </div>
    </app-card>
  </div>
  <div class="col-xl-3 col-md-6">
    <app-card [hidHeader]="true" cardClass="ticket-card">
      <p class="m-b-25 badge-light-primary lbl-card"><i class="fas fa-file-archive m-r-5"></i> Close Tickets</p>
      <div class="text-center">
        <h2 class="m-b-0 d-inline-block text-c-blue">134</h2>
        <p class="m-b-0 d-inline-block">Tickets</p>
        <p class="m-b-0 m-t-10"><i class="fas fa-caret-up m-r-10 f-18 text-c-blue"></i>From Previous Month</p>
      </div>
    </app-card>
  </div>
  <div class="col-xl-3 col-md-6">
    <app-card [hidHeader]="true" cardClass="ticket-card">
      <p class="m-b-25 badge-light-success lbl-card"><i class="fas fa-users m-r-5"></i> New Clients</p>
      <div class="text-center">
        <h2 class="m-b-0 d-inline-block text-c-green">307</h2>
        <p class="m-b-0 d-inline-block">Clients</p>
        <p class="m-b-0 m-t-10"><i class="fas fa-caret-up m-r-10 f-18 text-c-green"></i>From Previous Month</p>
      </div>
    </app-card>
  </div>
  <div class="col-xl-3 col-md-6">
    <app-card [hidHeader]="true" cardClass="ticket-card">
      <p class="m-b-25 badge-light-warning lbl-card"><i class="fas fa-database m-r-5"></i> New Orders</p>
      <div class="text-center">
        <h2 class="m-b-0 d-inline-block text-c-yellow">231</h2>
        <p class="m-b-0 d-inline-block">Orders</p>
        <p class="m-b-0 m-t-10"><i class="fas fa-caret-up m-r-10 f-18 text-c-yellow"></i>From Previous Month</p>
      </div>
    </app-card>
  </div>
  <!-- ticket, project, client end -->

  <!-- analytic card start -->
  <div class="col-xl-4 col-md-12">
    <app-card [hidHeader]="true" cardClass="analytic-card bg-c-green">
      <div class="row align-items-center m-b-25">
        <div class="col-auto">
          <i class="fas fa-shopping-cart text-c-green f-18 analytic-icon"></i>
        </div>
        <div class="col text-right">
          <h3 class="m-b-5 text-white">15,678</h3>
          <h6 class="m-b-0 text-white">Total Sales</h6>
        </div>
      </div>
      <p class="m-b-0  text-white d-inline-block">Total Income : </p>
      <h5 class=" text-white d-inline-block m-b-0 m-l-10">$2,451</h5>
      <h6 class="m-b-0 d-inline-block  text-white float-right"><i class="fas fa-caret-up m-r-10 f-18"></i>10%</h6>
    </app-card>
  </div>
  <div class="col-xl-4 col-md-12">
    <app-card [hidHeader]="true" cardClass="analytic-card bg-c-blue">
      <div class="row align-items-center m-b-25">
        <div class="col-auto">
          <i class="fas fa-users text-c-blue f-18 analytic-icon"></i>
        </div>
        <div class="col text-right">
          <h3 class="m-b-5 text-white">1,678</h3>
          <h6 class="m-b-0 text-white">Total Users</h6>
        </div>
      </div>
      <p class="m-b-0 text-white d-inline-block">Total Revenue : </p>
      <h5 class="text-white d-inline-block m-b-0 m-l-10">$2,451</h5>
      <h6 class="m-b-0 d-inline-block text-white float-right"><i class="fas fa-caret-up m-r-10 f-18"></i>30%</h6>
    </app-card>
  </div>
  <div class="col-xl-4 col-md-12">
    <app-card [hidHeader]="true" cardClass="analytic-card bg-c-red">
      <div class="row align-items-center m-b-25">
        <div class="col-auto">
          <i class="fas fa-file-code text-c-red f-18 analytic-icon"></i>
        </div>
        <div class="col text-right">
          <h3 class="m-b-5 text-white">15,678</h3>
          <h6 class="m-b-0 text-white">Total Project</h6>
        </div>
      </div>
      <p class="m-b-0 d-inline-block text-white">Active Projects : </p>
      <h5 class="text-white d-inline-block m-b-0 m-l-10">$2,451</h5>
      <h6 class="m-b-0 d-inline-block text-white float-right"><i class="fas fa-caret-down m-r-10 f-18"></i>10%</h6>
    </app-card>
  </div>
  <!-- analytic card end -->

  <!-- project-ticket start -->
  <div class="col-xl-3 col-md-6">
    <app-card cardTitle="Facebook Source" cardClass="social-res-card" [options]="false">
      <p class="m-b-10">Page Profile</p>
      <div class="m-b-25">
        <ngb-progressbar type="danger" [value]="25"></ngb-progressbar>
      </div>
      <p class="m-b-10">Favorite</p>
      <div class="m-b-25">
        <ngb-progressbar type="success" [value]="85"></ngb-progressbar>
      </div>
      <p class="m-b-10">Like Story</p>
      <ngb-progressbar [value]="65"></ngb-progressbar>
    </app-card>
  </div>
  <div class="col-xl-3 col-md-6">
    <app-card cardTitle="Twitter Source" cardClass="social-res-card" [options]="false">
      <p class="m-b-10">Wall Profile</p>
      <div class="m-b-25">
        <ngb-progressbar type="success" [value]="85"></ngb-progressbar>
      </div>
      <p class="m-b-10">Favorite</p>
      <div class="m-b-25">
        <ngb-progressbar type="danger" [value]="25"></ngb-progressbar>
      </div>
      <p class="m-b-10">Like Tweets</p>
      <ngb-progressbar type="warning" [value]="40"></ngb-progressbar>
    </app-card>
  </div>
  <div class="col-xl-3 col-md-6">
    <app-card cardTitle="Google+ Source" cardClass="social-res-card" [options]="false">
      <p class="m-b-10">profile</p>
      <div class="m-b-25">
        <ngb-progressbar [value]="65"></ngb-progressbar>
      </div>
      <p class="m-b-10">Connect</p>
      <div class="m-b-25">
        <ngb-progressbar type="danger" [value]="15"></ngb-progressbar>
      </div>
      <p class="m-b-10">Like News</p>
      <ngb-progressbar type="success" [value]="95"></ngb-progressbar>
    </app-card>
  </div>
  <div class="col-xl-3 col-md-6">
    <app-card cardTitle="Linkedin Source" cardClass="social-res-card" [options]="false">
      <p class="m-b-10">Profile</p>
      <div class="m-b-25">
        <ngb-progressbar type="warning" [value]="45"></ngb-progressbar>
      </div>
      <p class="m-b-10">Connect</p>
      <div class="m-b-25">
        <ngb-progressbar type="success" [value]="85"></ngb-progressbar>
      </div>
      <p class="m-b-10">Like Posts</p>
      <ngb-progressbar type="warning" [value]="35"></ngb-progressbar>
    </app-card>
  </div>
  <!-- project-ticket end -->

  <!-- product statistic start -->
  <div class="col-xl-12">
    <app-card [hidHeader]="true" cardClass="product-progress-card">
      <div class="row pp-main">
        <div class="col-xl-3 col-md-6">
          <div class="pp-cont">
            <div class="row align-items-center m-b-20">
              <div class="col-auto">
                <i class="fas fa-cube f-24 text-mute"></i>
              </div>
              <div class="col text-right">
                <h2 class="m-b-0 text-c-blue">2476</h2>
              </div>
            </div>
            <div class="row align-items-center m-b-15">
              <div class="col-auto">
                <p class="m-b-0">Total Product</p>
              </div>
              <div class="col text-right">
                <p class="m-b-0 text-c-blue"><i class="fas fa-long-arrow-alt-up m-r-10"></i>64%</p>
              </div>
            </div>
            <ngb-progressbar [value]="45"></ngb-progressbar>
          </div>
        </div>
        <div class="col-xl-3 col-md-6">
          <div class="pp-cont">
            <div class="row align-items-center m-b-20">
              <div class="col-auto">
                <i class="fas fa-tag f-24 text-mute"></i>
              </div>
              <div class="col text-right">
                <h2 class="m-b-0 text-c-red">843</h2>
              </div>
            </div>
            <div class="row align-items-center m-b-15">
              <div class="col-auto">
                <p class="m-b-0">New Orders</p>
              </div>
              <div class="col text-right">
                <p class="m-b-0 text-c-red"><i class="fas fa-long-arrow-alt-down m-r-10"></i>34%</p>
              </div>
            </div>
            <ngb-progressbar [value]="75"></ngb-progressbar>
          </div>
        </div>
        <div class="col-xl-3 col-md-6">
          <div class="pp-cont">
            <div class="row align-items-center m-b-20">
              <div class="col-auto">
                <i class="fas fa-random f-24 text-mute"></i>
              </div>
              <div class="col text-right">
                <h2 class="m-b-0 text-c-yellow">63%</h2>
              </div>
            </div>
            <div class="row align-items-center m-b-15">
              <div class="col-auto">
                <p class="m-b-0">Conversion Rate</p>
              </div>
              <div class="col text-right">
                <p class="m-b-0 text-c-yellow"><i class="fas fa-long-arrow-alt-up m-r-10"></i>64%</p>
              </div>
            </div>
            <ngb-progressbar [value]="65"></ngb-progressbar>
          </div>
        </div>
        <div class="col-xl-3 col-md-6">
          <div class="pp-cont">
            <div class="row align-items-center m-b-20">
              <div class="col-auto">
                <i class="fas fa-dollar-sign f-24 text-mute"></i>
              </div>
              <div class="col text-right">
                <h2 class="m-b-0 text-c-green">41M</h2>
              </div>
            </div>
            <div class="row align-items-center m-b-15">
              <div class="col-auto">
                <p class="m-b-0">Conversion Rate</p>
              </div>
              <div class="col text-right">
                <p class="m-b-0 text-c-green"><i class="fas fa-long-arrow-alt-up m-r-10"></i>54%</p>
              </div>
            </div>
            <ngb-progressbar [value]="35"></ngb-progressbar>
          </div>
        </div>
      </div>
    </app-card>
  </div>
  <!-- product statistic end -->
</div>
