<div class="row">
  <div class="col text-left">
    <h3>{{ title }}</h3>
  </div>
</div>
<div class="row">&nbsp;</div>
<div class="row">
  <div class="col-sm-12">
    <app-card [hidHeader]="true" [options]="false">
      <form [formGroup]="addEditRiskTypeForm" (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="type">Risk Type</label>
              <input type="text" class="form-control" aria-describedby="emailHelp" tabindex="1" placeholder="Risk type"
                formControlName="type" [(ngModel)]="riskTypeData.type"
                [ngClass]="{ 'is-invalid': submitted && f.type.errors }" />
              <div *ngIf="submitted && f.type.errors" class="invalid-feedback">
                <div *ngIf="f.type.errors.required">
                  Risk type is required
                </div>
                <div *ngIf="f.type.errors.pattern">
                  Risk type should not contain special characters.
                </div>
              </div>
            </div>
          </div>

          <div class="col-12">
            <button type="button" class="btn btn-secondary mr-1" (click)="reset()">
              Cancel
            </button>
            <button type="submit" class="btn btn-primary" *ngIf="riskTypeData.id == undefined">
              Add Risk Type
            </button>
            <button type="button" class="btn btn-primary" *ngIf="riskTypeData.id != undefined"
              (click)="updateRiskType(riskTypeData)">
              Update
            </button>
          </div>
        </div>
      </form>
    </app-card>
  </div>
</div>