<div class="row">
    <div class="col-sm-12">
        <app-card [customHeader]='true' cardTitle="userList">
            <div class="row">
                <div class="w-100 col-sm-12 mb28mm">
                    <div class="col-sm-12 pr-0">
                        <button type="button" class="btn btn-blue float-right mb-2" data-toggle="modal"
                            className="tooltipstext" title="Add User" style="cursor: pointer;"
                            (click)="addUser()">Add User</button>
                    </div>
                    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
                        class="table-striped table-bordered nowrap table-hover dataTable">
                        <thead>
                            <tr>
                                <th class="text-center">User Name</th>
                                <th class="text-center">First Name</th>
                                <th class="text-center">Last Name</th>
                                <th class="text-center">Email</th>
                                <th class="text-center">Company</th>
                                <th class="text-center">Phone</th>
                                <th class="text-center">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of userList">
                                <td class="text-left">
                                    {{item.username}}
                                </td>
                                <td class="text-left">
                                    {{item.firstName}}
                                </td>
                                <td class="text-left">
                                    {{item.lastName}}
                                </td>
                                <td class="text-left">
                                    {{item.email}}
                                </td>
                                <td class="text-left">
                                    {{item.company}}
                                </td>
                                <td class="text-right">
                                    {{item.phone}}
                                </td>
                                <td class="text-center">
                                    <div>
                                        <i class="feather icon-edit pr-3" className="tooltipstext" title="Edit"
                                            style="cursor: pointer;" (click)="editUserRow(item)"></i>

                                        <i class="feather icon-trash-2 pr-3" className="tooltipstext" title="Delete"
                                            style="cursor: pointer;" (click)="deleteUser(item)"></i>

                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </app-card>
    </div>
</div>