<div class="row">
    <div class="col-sm-12">
        <app-card [customHeader]='true' cardTitle="userList">
            <div class="row">
                <div class="w-100">
                    <div class="col-sm-12 pr-0">
                        <button type="button" class="btn btn-blue float-right mb-2" data-toggle="modal"
                            className="tooltipstext" title="Add User" style="cursor: pointer;"
                            (click)="addUser()">Add User</button>
                    </div>
                    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
                        class="scroll table-striped table-bordered nowrap table-hover dataTable">
                        <thead>
                            <tr>
                                <th class="text-center">Name</th>
                                <th class="text-center">Salt</th>
                                <th class="text-center">Email</th>
                                <th class="text-center">Active</th>
                                <th class="text-center">First Nmae</th>
                                <th class="text-center">Last Nmae</th>
                                <th class="text-center">Company</th>
                                <th class="text-center">Phone</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of userList">
                                <td class="text-center">
                                    {{item.username}}
                                </td>
                                <td class="text-center">
                                    {{item.salt}}
                                </td>
                                <td class="text-center">
                                    {{item.email}}
                                </td>
                                <td class="text-center">
                                    {{item.active}}
                                </td>
                                <td class="text-center">
                                    {{item.firstName}}
                                </td>
                                <td class="text-center">
                                    {{item.lastName}}
                                </td>
                                <td class="text-center">
                                    {{item.company}}
                                </td>
                                <td class="text-center">
                                    {{item.phone}}
                                </td>
                                <td>
                                    <div>
                                        <i class="feather icon-edit pr-3" className="tooltipstext" title="Edit"
                                            style="cursor: pointer;" (click)="showEditBranchModal(branch.id)"></i>

                                        <i class="feather icon-trash-2" className="tooltipstext" title="Delete"
                                            style="cursor: pointer;"
                                            *ngIf="item.isEdit==undefined || item.isEdit==false"></i>

                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </app-card>
    </div>
</div>