.scroll{
    overflow: scroll !important;
}
.scroll::-webkit-scrollbar {
    width: 0px !important;
    height: 5px;
}
.scroll::-webkit-scrollbar-thumb {
    background: #aeb5da !important;
}
@media screen and (max-width: 767px) {
    .scroll{
        display: block;
    }
}