<div class="container bg-white p-3">
    <div class="row col-md-12 mb28mm mb-12">   
        <div class="col-sm-6">        
            <fieldset class="border-grey p-3">
                <legend  class="w-auto">Change Password</legend>
                <div class="box-wrapping-auth">
                    <div class="form-group row">
                        <label for="old_password" class="col-sm-6 col-form-label">Old Password</label>
                        <div class="col-sm-6">
                            <input type="password" class="form-control" id="old_password">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="old_password" class="col-sm-6 col-form-label">New Password</label>
                        <div class="col-sm-6">
                            <input type="password" class="form-control" id="old_password" placeholder="Alphanumeric with special 15 digits">
                        </div>
                    </div>                     
                    <div class="form-group row">
                        <label for="old_password" class="col-sm-6 col-form-label">Confirm New Password</label>
                        <div class="col-sm-6">
                            <input type="password" class="form-control" id="old_password">
                        </div>
                    </div>                    
                    <div class="text-center">
                        <button class="btn btn-primary m-2 btn-blue">Change</button> 
                    </div>
                </div>                
            </fieldset>
        </div>
        <div class="col-sm-6">
            <label class="col-form-label pt-20 text-blue">Password Policy:</label>
            <ul class="no-bullets">
                <li>15 Characters for Admin User</li>
                <li>Alphanumeric at least one Special character from eg.!@#$</li>
                <li>User cannot reuse last 13 passwords</li>
                <li>No numeric character in the first and last position (e.g. 1xxxxx2)</li>
                <li>No three repetitive characters (e.g. xxx, yyy, 555) </li>
                <li>No three consecutive characters (e.g. 123, abc) </li>
                <li>No Month names (e.g. Apr, May, Oct)</li>
            </ul>
        </div>
    </div>
</div>