fieldset legend {
    font-size: 20pt;
    color: #034EA2;
    padding: 0 3px;
}
.box-wrapping-auth {
    padding: 15px;
}
ul.no-bullets {
    list-style-type: decimal;
    padding-left: 15px;
}
ul.no-bullets li {
    font-size: 12pt;
    line-height: 2;
}