<div class="row">
  <div class="col-sm-12">
    <h4>{{title}}</h4>
    <app-card [hidHeader]="true" [options]="false">
      <form [formGroup]="addBranchForm" (ngSubmit)="addBranch()">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="exampleInputEmail1">Pincode</label>
              <input type="text" class="form-control" aria-describedby="emailHelp" placeholder="Pincode"
                formControlName="branchCode" [(ngModel)]="branchdata.branchCode" tabindex="1"
                [ngClass]="{ 'is-invalid': submitted && f.branchCode.errors }" />
              <div *ngIf="submitted && f.branchCode.errors" class="invalid-feedback">
                <div *ngIf="f.branchCode.errors.required">
                  Pincode is required
                </div>
                <div *ngIf="f.branchCode.errors.pattern">
                  Pincode should be 6 digit numeric value.
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>Pin Location</label>
              <input type="text" class="form-control" placeholder="Pin Location" formControlName="branchName"
                [(ngModel)]="branchdata.branchName" tabindex="2"
                [ngClass]="{ 'is-invalid': submitted && f.branchName.errors }" appOnlyalphabets [onlyAlpha]="true" />
              <div *ngIf="submitted && f.branchName.errors" class="invalid-feedback">
                <div *ngIf="f.branchName.errors.required">Pin Location is required</div>
              </div>
            </div>
          </div>
        </div>
        <div class="row text-right">
          <div class="col-12">
            <button type="submit" class="btn btn-secondary mr-1" (click)="cancel()">Cancel</button>
            <button type="submit" class="btn btn-primary" *ngIf="branchdata.id==undefined">Add </button>
            <button type="button" class="btn btn-primary" *ngIf="branchdata.id!=undefined"
              (click)="updateBranch(branchdata)">Update </button>
          </div>
        </div>
      </form>
    </app-card>
  </div>
</div>