<div class="row">
  <div class="col-sm-12">
    <app-card [hidHeader]="true" [options]="false">
      <h4>Add Branch</h4>
      <hr>
      <div class="row">
        <div class="col-md-6">
          <form action="javascript:">
            <div class="form-group">
              <label for="exampleInputEmail1">Branch Code</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                placeholder="Branch Code" name="branchCode" [(ngModel)]="branchdata.branchCode" tabindex="1">
            </div>
            <div class="form-group">
              <label>Zone</label>
              <input type="email" class="form-control" placeholder="Zone" name="zone" [(ngModel)]="branchdata.zone"
                tabindex="3">
            </div>
          </form>
        </div>
        <div class="col-md-6">
          <form action="javascript:">
            <div class="form-group">
              <label>Branch Name</label>
              <input type="text" class="form-control" placeholder="Branch Name" name="branchName"
                [(ngModel)]="branchdata.branchName" tabindex="2">
            </div>
          </form>
        </div>
      </div>
      <div class="row text-right">
        <div class="col-12">
          <button type="submit" class="btn btn-primary" *ngIf="branchdata.id==undefined"
            (click)="addBranch(branchdata)">Submit</button>
          <button type="submit" class="btn btn-primary" *ngIf="branchdata.id!=undefined"
            (click)="updateBranch(branchdata)">Update</button>
        </div>
      </div>
    </app-card>
  </div>
</div>