<div class="row">
  <div class="col-sm-12">
    <h4>{{title}}</h4>
    <app-card [hidHeader]="true" [options]="false">
      <form [formGroup]="addBranchForm" (ngSubmit)="addBranch()">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="exampleInputEmail1">Branch Code</label>
              <input type="text" class="form-control" aria-describedby="emailHelp" placeholder="Branch Code"
                formControlName="branchCode" [(ngModel)]="branchdata.branchCode" tabindex="1"
                [ngClass]="{ 'is-invalid': submitted && f.branchCode.errors }" />
              <div *ngIf="submitted && f.branchCode.errors" class="invalid-feedback">
                <div *ngIf="f.branchCode.errors.required">Branch Code is required</div>
              </div>
            </div>
            <!-- <div class="form-group">
              <label>Zone</label>
              <input type="email" class="form-control" placeholder="Zone" formControlName="zone"
                [(ngModel)]="branchdata.zone" tabindex="3" [ngClass]="{ 'is-invalid': submitted && f.zone.errors }" />
                <div *ngIf="submitted && f.zone.errors" class="invalid-feedback">
                  <div *ngIf="f.zone.errors.required">Zone required</div>
                </div>
            </div> -->
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>Branch Name</label>
              <input type="text" class="form-control" placeholder="Branch Name" formControlName="branchName"
                [(ngModel)]="branchdata.branchName" tabindex="2" [ngClass]="{ 'is-invalid': submitted && f.branchName.errors }" />
                <div *ngIf="submitted && f.branchName.errors" class="invalid-feedback">
                  <div *ngIf="f.branchName.errors.required">Branch Name is required</div>
                </div>
            </div>
          </div>
        </div>
        <div class="row text-right">
          <div class="col-12">
            <button type="submit" class="btn btn-primary mr-1" (click)="cancel()">Cancel</button>
            <button type="submit" class="btn btn-primary" *ngIf="branchdata.id==undefined">Add Branch Details</button>
            <button type="button" class="btn btn-primary" *ngIf="branchdata.id!=undefined"
              (click)="updateBranch(branchdata)">Update Branch Details</button>
          </div>
        </div>
      </form>
    </app-card>
  </div>
</div>