<div class="row">
    <div class="col-sm-12">
        <app-card [hidHeader]="true" [options]="false">
            <h4>Add Inspection</h4>
            <hr>
            <form #addForm="ngForm">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Branch Name</label>
                            <select class="form-control" id="UniqueID1" name="UniqueID1"
                                [(ngModel)]="inspectionData.UniqueID" tabindex="1">
                                <option value="-1">Select</option>
                                <option class="form-control" *ngFor="let item of branches" [value]="item.UniqueID">
                                    <table>
                                        <tr>
                                            <td> {{item.Town}}</td>
                                        </tr>
                                    </table>
                                </option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">IMD/SM Code</label>
                            <input type="text" class="form-control" placeholder="IMD/SM Code" tabindex="3"
                                name="imdSmCode" [(ngModel)]="inspectionData.imdSmCode" required>
                        </div>

                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Branch Code</label>
                            <select class="form-control" id="UniqueID1" name="UniqueID1"
                                [(ngModel)]="inspectionData.UniqueID" tabindex="2">
                                <option value="-1">Select</option>
                                <option class="form-control" *ngFor="let item of branchCode" [value]="item.UniqueID">
                                    <table>
                                        <tr>
                                            <td> {{item.Town}}</td>
                                        </tr>
                                    </table>
                                </option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Phone no of IMD/SM</label>
                            <input type="email" class="form-control" placeholder="Phone no of IMD/SM" required
                                name="imdSmPhone" [(ngModel)]="inspectionData.imdSmPhone" tabindex="4">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Customer Name</label>
                            <input type="text" class="form-control" placeholder="Customer Name" required
                                name="customername" tabindex="5" [(ngModel)]="inspectionData.customername">
                        </div>
                        <div class="form-group">
                            <label>Customer Email Id</label>
                            <input type="email" class="form-control" placeholder="Customer Email Id"
                                name="customerEmail" tabindex="7" [(ngModel)]="inspectionData.customerEmail" required>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Customer Mobile No</label>
                            <input type="text" class="form-control" placeholder="Customer Mobile No"
                                name="customerMobile" tabindex="6" [(ngModel)]="inspectionData.customerMobile" required>
                        </div>
                        <div class="form-group">
                            <label>Email of IMD/SM</label>
                            <input type="text" class="form-control" name="imdSmEmail" placeholder="Email of IMD/SM"
                                [(ngModel)]="inspectionData.imdSmEmail" tabindex="8" required>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Alternate Phone No</label>
                            <input type="text" class="form-control" placeholder="Alternate Phone Number" name="altphone"
                                tabindex="9" [(ngModel)]="inspectionData.altphone" required>
                        </div>
                        <div class="form-group">
                            <label>Product Type</label>
                            <select class="form-control" name="type" [(ngModel)]="inspectionData.type" required
                                tabindex="11">
                                <option value="prod1">prod1</option>
                                <option value="prod2">prod2</option>
                                <option value="prod3">prod3</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="exampleFormControlSelect1">Reason For Inspection</label>
                            <select class="form-control" name="inspReason" [(ngModel)]="inspectionData.inspReason"
                                required tabindex="10">
                                <option value="Reason1">Reason1</option>
                                <option value="Reason2">Reason2</option>
                                <option value="Reason3">Reason3</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlSelect1">Risk Type</label>
                            <select class="form-control" name="riskType" [(ngModel)]="inspectionData.riskType" required
                                tabindex="12">
                                <option value="riskType1">Risk Type 1</option>
                                <option value="riskType2">Risk Type 2</option>
                                <option value="riskType3">Risk Type 3</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Location of Inspection</label>
                            <input type="text" class="form-control" placeholder="Location of Inspection"
                                name="inspectionLocation" tabindex="13" [(ngModel)]="inspectionData.inspectionLocation"
                                required>
                        </div>
                        <div class="form-group">
                            <label>Duplicate Inspection</label>
                            <select class="form-control" name="duplicateInspection"
                                [(ngModel)]="inspectionData.duplicateInspection" required tabindex="15">
                                <option value="dupl1">Duplicate 1</option>
                                <option value="dupl2">Duplicate 2</option>
                                <option value="dupl3">Duplicate 3</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="exampleFormControlSelect1">Valid Reg No</label>
                            <input type="text" class="form-control" placeholder="Valid Reg No" name="validRegNo"
                                tabindex="14" [(ngModel)]="inspectionData.validRegNo" required>
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlSelect1">Payment Mode</label>
                            <select class="form-control" name="paymentMode" [(ngModel)]="inspectionData.paymentMode"
                                required tabindex="16">
                                <option value="paymentMode1">Payment Mode 1</option>
                                <option value="paymentMode2">Payment Mode 2</option>
                                <option value="paymentMode3">Payment Mode 3</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Make of Vehicle</label>
                            <input type="text" class="form-control" placeholder="Make of Vehicle" name="vehMake"
                                tabindex="17" [(ngModel)]="inspectionData.vehMake" required>
                        </div>
                        <div class="form-group">
                            <label>Status</label>
                            <select class="form-control" name="Status"  [(ngModel)]="inspectionData.Status" required
                                tabindex="19">
                                <option value="Status1">Status 1</option>
                                <option value="Status2">Status 2</option>
                                <option value="Status3">Status 3</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="exampleFormControlSelect1">Model</label>
                            <input type="text" class="form-control" placeholder="Model" name="Model" tabindex="18"
                                [(ngModel)]="inspectionData.Model" required>
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlSelect1">Vendor Email ID</label>
                            <select class="form-control" name="vendorEmail" [(ngModel)]="inspectionData.vendorEmail"
                                required tabindex="20">
                                <option value="vendorEmail1">VendorEmail 1</option>
                                <option value="vendorEmail2">VendorEmail 2</option>
                                <option value="vendorEmail3">VendorEmail 3</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Conveyance</label>
                            <select class="form-control" name="conveyance" [(ngModel)]="inspectionData.conveyance"
                                required tabindex="21">
                                <option value="conveyance1">Conveyance 1</option>
                                <option value="conveyance2">Conveyance 2</option>
                                <option value="conveyance3">Conveyance 3</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Alternate Customer Name</label>
                            <input type="text" class="form-control" placeholder="Alternate Customer Name"
                                name="altCustomerName" tabindex="23" [(ngModel)]="inspectionData.altCustomerName"
                                required>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="exampleFormControlSelect1">Conveyance in KM</label>
                            <input type="text" class="form-control" placeholder="Conveyance in KM" name="conveyanceKM" tabindex="22"
                                [(ngModel)]="inspectionData.conveyanceKM" readonly required>
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlSelect1">Remarks</label>
                            <textarea type="text-center" class="form-control form-control-sm" rows="2" name="remarks"
                            [(ngModel)]="inspectionData.remarks" placeholder="Remarks" tabindex="24"></textarea>
                        </div>
                    </div>


                </div>
                <div class="row text-right">
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary mr-1">Cancel</button>
                        <button type="submit" class="btn btn-primary">Create Inspection</button>
                    </div>
                </div>

            </form>
        </app-card>
    </div>
</div>