<div class="row">
    <div class="col-sm-12">
      <app-card [customHeader]='true' cardTitle="Add User">
        <div class="row mt-2 mb-5">
            <div class="col-md-6">            
                <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-3 col-form-label">First Name</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="inputEmail3">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputPassword3" class="col-sm-3 col-form-label">Company Name</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="inputPassword3">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputPassword3" class="col-sm-3 col-form-label">Password</label>
                    <div class="col-sm-9">
                        <input type="password" class="form-control" id="inputPassword3">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Branch Name</label>
                    <div class="col-sm-9">
                        <select class="form-control">
                            <option value="">--Select--</option>
                            <option value="">ABC</option>
                            <option value="">DEF</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">User Type</label>
                    <div class="col-sm-9">
                        <select class="form-control">
                            <option value="">ABS</option>
                            <option value="">ABC</option>
                            <option value="">DEF</option>
                        </select>
                    </div>
                </div>            
            </div>          
            <div class="col-sm-6">
                <div class="form-group row">
                    <label for="lastName" class="col-sm-3 col-form-label">Last Name</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="lastName">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="email" class="col-sm-3 col-form-label">Email</label>
                    <div class="col-sm-9">
                        <input type="email" class="form-control" id="email">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="conPassword" class="col-sm-3 col-form-label">Confirm Password</label>
                    <div class="col-sm-9">
                        <input type="password" class="form-control" id="conPassword">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Branch Code</label>
                    <div class="col-sm-9">
                        <select class="form-control">
                            <option value="">--Select--</option>
                            <option value="">123</option>
                            <option value="">456</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Branches</label>
                    <div class="col-sm-9">
                        <select class="form-control">
                            <option value="">--Select--</option>
                            <option value="">ABC</option>
                            <option value="">DEF</option>
                        </select>
                    </div>
                </div>
            </div>
             <div class="col-sm-12 text-center mt-2">
                <button type="reset" class="btn btn-grey mr-2">Cancel</button>
                <button type="submit" class="btn btn-blue ml-2">Add User</button>
            </div>
        </div>
      </app-card>
    </div>
  </div>