/* You can add global styles to this file, and also import other style files */

/* SCSS */
@import "scss/style";


@font-face {
    font-family: HelveticaNeueLTStd;
    src: url("assets/fonts/HelveticaNeueLTStd\ Lt.otf");
}

body {
    font-family: "HelveticaNeueLTStd";
}


.scroll{
    overflow: scroll !important;
    display: block;
}
.scroll::-webkit-scrollbar {
    width: 0px !important;
    height: 5px;
}
.scroll::-webkit-scrollbar-thumb {
    background: #EC1968 !important;
}
@media screen and (max-width: 2560px) and (min-width: 1441px) {
    .scroll{
        display: table;
    }
}
@media screen and (max-width: 767px) {
    .scroll{
        display: block;
    }
}
.mb-18 {
    margin-bottom: 18mm !important;
}
.mb-12 {
    margin-bottom: 12mm !important;
}


table thead {
    background: #ffffff;
    color: #000;
    font-family: "HelveticaNeueLTStd";
    letter-spacing: 1px;
}
table tr td {
    font-family: "HelveticaNeueLTStd";
    font-size: 12pt;
}
table.dataTable thead th, table.dataTable thead tr td {
    padding: 10px 18px;
    border-bottom: 0.5pt solid #EC1968;
    border-right: 0.5pt solid #EC1968;
    font-family: "HelveticaNeueLTStd";
    letter-spacing: 1px;
    font-size: 12pt;
    font-weight: normal;
    color: #000000cc !important;
}
table thead tr th:last-child {
    border-right: none !important;
}
.mb28mm {
    margin-bottom:28mm;
}
.mt30mm {
    margin-top:30mm;
}
tr.odd td {
    border-bottom: 0px !important;
}

table.dataTable tbody tr td {
    border-bottom: 0.5pt solid #EC1968 !important;
    border-right: 0.5pt solid #EC1968;
    color: #000000b3 !important;
}
table.dataTable tbody tr:last-child td {
    border-bottom: none !important;
}
table.dataTable tbody tr td:last-child {
    border-right: 0pt;
}

.theme-blue {
    background-color: #034EA2;
}
.auth-wrapper {
    font-family: HelveticaNeueLTStd !important;
}
span.input-group-text {
    background-color: #034EA2;
    border: #034EA2;
    color: #fff;
}

table {
    border-radius: 3pt;
    border: 0.5pt solid #EC1968 !important;
}

button {
    font-family: HelveticaNeueLTStd;
}
.btn-box {
    text-align: center;
}
.btn-box button {
    margin: 0 5px;    
}
.img-70 {
    max-width: 70%
}
.btn-blue {
    background-color: #034EA2;
    color: #fff;
    opacity: 1 !important;
    letter-spacing: 1px;
}
.btn-blue:hover {
    background-color: #FAB218;
    color: #000000;
}
.btn-yellow {
    background-color: #FAB218;
    color: #000000;
}
.btn-yellow:hover {
    background-color: #034EA2;
    color: #fff;
}
.btn-grey {
    background-color: #B3B4B4;
    color: #000000;
}
.btn-grey:hover {
    background-color: #034EA2;
    color: #fff;
}
.anchor-text {
    color: #B3B4B4 !important;
}
.anchor-text:hover {
    color: #FAB218;
    text-decoration: underline;
}

.checkbox.checkbox-primary input[type=checkbox]:checked + .cr:before {
    background: #034ea2 !important;
    border-color: #034ea2 !important;
    color: #ffffff;
body {
    font-family: "HelveticaNeueLTStd";
}
}

ul.nav.pcoded-inner-navbar li a {
    color: #B3B4B4;
}

ul.nav.pcoded-inner-navbar li.nav-item.active a {
    color: #FAB218;
}

.page-header .page-header-title + .breadcrumb > .breadcrumb-item a {
    color: #034EA2;
}

.ps__rail-y.ps--clicking .ps__thumb-y, .ps__rail-y:focus > .ps__thumb-y, .ps__rail-y:hover > .ps__thumb-y {
    background: #FAB218 !important;
}

.ps__thumb-y {
    background-color: #fab218 !important;
}
.pcoded-header .dropdown .dropdown-toggle:before {    
    background: none !important;
}
ul.navbar-nav.ml-auto li i.icon.feather.icon-user {
    color: #fff;
    background: #fab218;
    padding: 9px;
    border-radius: 50%;
}
.pcoded-header.header-blue {
    background: #034EA2 !important;
    box-shadow: 0 1px 3px 0 rgba(70, 128, 255, 0.3);
    box-shadow: none;
}
.pcoded-header.header-blue .main-search.open .input-group .search-btn {
    background: #FAB218 !important;
    border-color: #FAB218 !important;
    border-radius: 0px;
}
.pcoded-header.header-blue .main-search.open .input-group {
    background: #034ea2;
    border: 1px solid #FAB218;
    padding: 0 0 0 10px;
    border-radius: 0px;
}
perfect-scrollbar {    
    background-color: #034ea2 !important;
}

label, input {
    font-family: "HelveticaNeueLTStd";
    font-size: 12pt !important;
}
.pt-12 {
    font-size:12pt !important;
}
.pt-20 {
    font-size:20pt !important;
}
.pt-30 {
    font-size:30pt !important;
}
form.loginform input {
    font-size: 12pt;
}
form.loginform .checkbox label {
    font-size: 12pt;
}

.pcoded-header.header-blue .dropdown .profile-notification .pro-head {
    background: #034ea2 !important;
}

.form-control {    
    border: 1px solid #B3B4B4 !important;
    color: #000000cc !important;
}
.form-control:focus {
    color: #000000cc !important;
    border-color: #034ea2 !important;
    box-shadow: none !important;
}
.invalid-feedback {    
    color: #EC1968 !important;
}

.text-grey {
    color: #B3B4B4;
}
.captcha-generate {
    background-color: #034EA2 !important;
    text-align: center;
    font-size: 12pt !important;
    border: none !important;
    color: #FAB218 !important;
    letter-spacing: 1px;
    font-weight: bold;
}
.main-search input {
    border: none !important;
}
ul.nav.pcoded-inner-navbar li a {
    font-size: 12pt;
}
.text-blue{
    color: #034EA2;
}
.border-grey {
    border: 1px solid #B3B4B4;
}
